rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Setiap akun hanya bisa membaca & menulis datanya sendiri.
    match /users/{uid}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
